<div class="chores">
    <h3>Chores</h3>
    <ul>
        <li *ngFor = 'let chore of chores'>{{chore}}</li>
    </ul>
</div>
<hr>
<div class="doneChores" *ngIf="chores.length < finishedChores.length; else workHarder">
    <h3>Done Chores</h3>
    <ul>
        <li *ngFor = 'let done of finishedChores'>{{done}}</li>
    </ul>
</div>

<ng-template #workHarder>
    <div class="doneChores">
        <p id="workHarder">Work Harder!</p>
    </div>
</ng-template>


<div class="moreStuff" *ngIf="chores.length === 0 || finishedChores.length-3 >= chores.length;else allowance">
    <img src="{{targetImage}}" alt="You are on track!">
</div>

<ng-template #allowance>
    <div class="moreStuff">
        <p>No allowance yet.</p>
    </div>
</ng-template>
<hr>

<div *ngIf="chores.length === 0 && finishedChores.length >=4;else iceCream">
    <h1>Ice Cream Treat!</h1>
</div>

<ng-template #iceCream>
    <h3>To earn an ice cream treat:</h3>
    <br>
    <p>
        The chores list must be empty.
    <br>
    <br>
        The Done list must have at least 4 items.
    </p>
</ng-template>